PORT=4000
CLIENT_URL=http://localhost:5173

MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/moviedb

JWT_ACCESS_SECRET=replace-with-a-long-random-string
JWT_ACCESS_EXPIRES=15m

JWT_REFRESH_SECRET=replace-with-a-different-long-random-string
JWT_REFRESH_EXPIRES=7d

# TMDB access token Bearer Token (v4 auth) 
TMDB_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI2YTczYWI3OWI2NzlhYmJmMzM1OTNhYjUiLCJpYXQiOjE3ODU5NjU0MzMsImV4cCI6MTc4NTk2NjMzM30.gG-pWJ4CC4uDxn0bvPBG0wLQjAQFiWnRw3NaTxZcwRE